@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Verdana, sans-serif;
  background: url(../src/images/bg-icon.svg) repeat;
}
p {
  margin: 5px;
}
.header__background {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-height: 60vh;
  background: url(../src/images/gradient_right.png) top 50% right 40% no-repeat,
    url(../src/images/gradient_left.png) top 0% left 10% no-repeat,
    linear-gradient(to top, #edf2f7, #f9fcff);
  background-size: 100%;
}
.container {
  width: 100%;
  max-height: 550px;
}
.information {
  display: flex;
  flex-flow: column;
  padding: 25px 0;
}
.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  height: 300px;
  width: 350px;
  box-shadow: 0 0 5px #d3d3d3;
  border-radius: 5px;
}
.form__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 80px;
}

.form__box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  height: 220px;
  width: 350px;
}

.form__inputs {
  height: 70px;
  margin: 5px;
}

.form__error {
  color: red;
  font-size: 8px;
}

input {
  height: 35px;
  width: 280px;
  border: none;
  box-shadow: 0 0 5px #d3d3d3;
  border-radius: 5px;
}

.btn__submit {
  border: none;
  text-decoration: none;
  width: 80%;
  height: 35px;
  background-color: #fdd83e;
  box-shadow: 0 0 5px #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
}
.btn__submit:hover {
  background-color: #fff83e;
}

.main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}

.main__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profits {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 50px;
}
.profits__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.profits__box {
  width: 30%;
}

.profits__image {
  width: 200px;
  height: 200px;
}

.experience {
  display: flex;
  justify-content: center;
  background-color: #f6fafd;
  width: 100%;
  padding: 30px 0;
}

.experience__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.experience__box {
  width: 150px;
}
.experience__box h4 {
  margin: 0;
  font-size: 18px;
}
.experience__box p {
  margin: 0;
}

.experience__image {
  width: 110px;
  height: 110px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.footer__container {
  width: 80%;
  height: 60%;
}

.footer__button {
  padding: 10px;
}

.footer__btn {
  width: 20%;
}
