body {
  margin: 0;
  padding: 0;
  background-image: url(../src/images/bg-icon.svg);
}

.header {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 60vh;
  background: url(../src/images/gradient_right.png) top 50% right 40% no-repeat,
    url(../src/images/gradient_left.png) top 300% left 10% no-repeat,
    linear-gradient(to top, #edf2f7, #f9fcff);
  background-size: 101%;
}
