@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Verdana, sans-serif;
  background: url(../src/images/bg-icon.svg) repeat;
}
p {
  font-size: 16px;
  margin: 5px;
}

.header__background {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 50vh;
  background: url(../src/images/gradient_right.png) top 50% right 40% no-repeat,
    url(../src/images/gradient_left.png) top -50% left 10% no-repeat,
    linear-gradient(to top, #edf2f7, #f9fcff);
  background-size: 100%;
}
.container {
  height: 80%;
}
.information {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header__logo {
  width: 180px;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  height: 300px;
  width: 350px;
  box-shadow: 0 0 5px #d3d3d3;
  border-radius: 5px;
}
.form__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 80px;
}

.form__box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 350px;
}

.form__inputs {
  height: 70px;
  margin: 5px;
}

.form__error {
  color: red;
  font-size: 8px;
}

input {
  height: 35px;
  width: 280px;
  border: none;
  box-shadow: 0 0 5px #d3d3d3;
  border-radius: 5px;
}

.btn__submit {
  border: none;
  text-decoration: none;
  width: 80%;
  height: 35px;
  background-color: #fdd83e;
  box-shadow: 0 0 5px #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
}
.btn__submit:hover {
  background-color: #fff83e;
}

.main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profits {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.profits__content {
  display: flex;
  justify-content: space-evenly;
  min-height: 250px;
  max-height: 500px;
  width: 70%;
}
.profits__box {
  width: 230px;
  height: 300px;
}

.profits__image {
  width: 200px;
  height: 200px;
}

.experience {
  display: flex;
  justify-content: center;
  background-color: #f6fafd;
  width: 100%;
  padding: 30px 0;
}

.experience__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience__position {
  display: flex;
}

.experience__box {
  width: 50%;
}
.experience__box h4 {
  margin: 0;
  font-size: 18px;
}
.experience__box p {
  margin: 0;
}

.experience__image {
  width: 110px;
  height: 110px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.footer p {
  font-size: 18px;
}

.footer__button {
  padding: 20px;
}

.footer__btn {
  width: 180px;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .header__background {
    height: 45vh;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header__background {
    height: 45vh;
    background: url(../src/images/gradient_right.png) top right 40% no-repeat,
      url(../src/images/gradient_left.png) top left 10% no-repeat,
      linear-gradient(to top, #edf2f7, #f9fcff);
    background-size: 100%;
  }
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .experience {
    display: flex;
    justify-content: center;
  }

  .experience__content {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: 14px;
  }
  .header__background {
    height: 45vh;
    background: url(../src/images/gradient_right.png) top right 40% no-repeat,
      url(../src/images/gradient_left.png) top left 10% no-repeat,
      linear-gradient(to top, #edf2f7, #f9fcff);
    background-size: 150%;
  }

  .profits__content {
    min-width: 768px;
  }

  .experience__content {
    min-width: 768px;
  }

  .experience__position {
    width: 50%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  p {
    font-size: 14px;
  }
  .header__background {
    height: 50vh;
    align-items: center;
    background: url(../src/images/gradient_right.png) top right 40% no-repeat,
      url(../src/images/gradient_left.png) top left 10% no-repeat,
      linear-gradient(to top, #edf2f7, #f9fcff);
    background-size: 200%;
  }
  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .form__content {
    height: 60px;
  }

  input {
    height: 35px;
    width: 250px;
    border: none;
    box-shadow: 0 0 5px #d3d3d3;
    border-radius: 5px;
  }

  .main {
    margin-top: 0;
  }

  .profits {
    flex-flow: column;
    justify-content: space-evenly;
    height: 65vh;
  }

  .profits__content {
    flex-flow: column;
    align-items: center;
  }

  .profits__image {
    width: 110px;
    height: 110px;
  }

  .experience__content {
    flex-flow: column;
  }

  .experience__position {
    margin: 5px;
    width: 400px;
  }

  .experience__image {
    width: 90px;
    height: 90px;
  }

  .footer {
    min-width: 481px;
    max-width: 767px;
  }

  .footer__container {
    max-width: 400px;
  }
  .footer__container p {
    font-size: 13px;
  }

  .footer__btn {
    width: 180px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .header__background {
    height: 50vh;
    min-width: 360px;
    max-width: 480px;
    align-items: center;
    background: url(../src/images/gradient_right.png) top right 40% no-repeat,
      url(../src/images/gradient_left.png) top left 10% no-repeat,
      linear-gradient(to top, #edf2f7, #f9fcff);
    background-size: 200%;
  }
  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: 360px;
    max-width: 480px;
  }

  .form__content {
    height: 60px;
  }

  input {
    height: 35px;
    width: 250px;
    border: none;
    box-shadow: 0 0 5px #d3d3d3;
    border-radius: 5px;
  }

  .main {
    margin-top: 0;
  }

  .profits {
    flex-flow: column;
    justify-content: space-evenly;
    height: 65vh;
  }

  .profits__content {
    flex-flow: column;
    align-items: center;
  }

  .profits__image {
    width: 110px;
    height: 110px;
  }

  .experience__content {
    flex-flow: column;
  }

  .experience__position {
    margin: 5px;
    min-width: 360px;
    max-width: 480px;
  }

  .experience__image {
    width: 90px;
    height: 90px;
  }

  .footer {
    min-width: 360px;
    max-width: 480px;
  }

  .footer__container p {
    font-size: 13px;
  }

  .footer__btn {
    width: 180px;
  }
}
